h1 {
    background-color: #b80000;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
div.gallery {
    margin: 6px;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
     opacity: 0.5;
  }
  
  div.gallery img {
    width: 100%;
    border-radius: 50%;
    height: auto;
  }
  
  div.desc {
    padding: 20px;
    text-align: center;
  }
