body {
  background-color: rgb(0, 0, 0);
}

h1 {
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
p{
     color: rgb(255, 255, 255);
}
div.gallery {
    margin: 6px;
    float: left;
    width: 180px;
    opacity: 0.5;
  }
  
  div.gallery:hover {
     opacity: 1;
  }
  
  div.gallery img {
    width: 100%;
    border-radius: 50%;
    height: auto;
  }
div.gallery p {
   color: rgb(255, 255, 255);
  } 
  div.desc {
    padding: 20px;
    text-align: center;
  }
